@page "/productosProvedorBusqueda/{claveProducto}/{idTipoProducto}"
@inject HttpClient Http
<PageTitle>Distribuidora del Mal</PageTitle>

<h1>Productos Provedores</h1>

@if (productosProvedores != null)
{
 <div class="row">

        <div class="col-md-6">
            Clave: <input @bind="claveProducto" placeholder="Clave del Producto">
        </div>
       <div class="col-md-6">
            Nombre: <input value="@producto.Nombre" placeholder="Nombre del Producto">
        </div>
</div>


    <div class="row">

        <div class="col-md-6 align-self-end">
            <label for="tipos">Tipos de Productos</label>
                <select @bind="producto.IdTipoProducto" name="tipos" id="tipos">
                    <option value="0">--Tipos Productos--</option>
                    @if (tiposProductos != null)
                    {
                        @foreach (var tipo in tiposProductos)
                        {
                            <option value="@tipo.Id">@tipo.Nombre</option>
                        }
                    }

                </select>

        </div>

        <div class="col-md-6">
            EsActivo: <input type="checkbox" @bind="producto.EsActivo" placeholder="Clave del Producto">
        </div>
    </div>
<div class="row">
    <div class = "col align-self-end">
        <button class="btn btn-primary">Buscar</button>
    </div>
</div>


    <div class="container">




        <table class="table">
            <thead>
                <tr>
                    <th>Editar</th>
                    <th>Nombre Proveedor</th>
                    <th>Clave Producto</th>
                    <th>Costo</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var productoP in productosProvedores)
                {
                    <tr>
                         <td>
                            <button @onclick="()=>Editar(productoP.Id)" style="background: none; border: none;">
                                <i class="bi bi-pencil"></i>    
                            </button>
                        </td>
                        <td>@productoP.NombreProveedor</td>
                        <td>@productoP.ClaveProducto</td>
                        <td>@productoP.PrecioProveedor</td>
                        <button @onclick="()=>Eliminar(productoP.Id)" style="background: none; border: none;">
                            <i class="bi bi-file-earmark-x"></i>
                        </button>
                    </tr>
                }
            </tbody>
        </table>

        <button class="btn btn-outline-primary" @onclick="()=>Insertar(producto.Id)" style="background: none; border: none;">
            Agregar Proveedor
            <i class="bi bi-plus-circle"></i>
        </button>

        <Modal OnHidden="()=>ActualizarLista()" @ref="modal" />
        <Modal OnHidden="()=>ActualizarLista()" @ref="modalInsertar" />

        <SuccessMessage Mostrar=@mostrarMensajeExitoso Contenido="@contenidoMensajeExitoso" />
        <ErrorMessage Mostrar="@mostrarMensajeError" Contenido="@contenidoMensajeError" />

    </div>
}

@code {
    private ProductoProveedorDTO[]? productosProvedores;
    private TipoProducto[]? tiposProductos;
    private Producto? producto;


    private bool mostrarMensajeExitoso = false;
    private bool mostrarMensajeError = false;
    private string contenidoMensajeExitoso = "";
    private string contenidoMensajeError = "";
    //private string? claveProducto;
    //private string idTipoProducto = "0";

    [Parameter]
    public string claveProducto { get; set; }
    [Parameter]

    public string idTipoProducto { get; set; }

    private Modal modal = default!;
    private Modal modalInsertar = default!;



    protected override async Task OnInitializedAsync()
    {

        tiposProductos = await Http.GetFromJsonAsync<TipoProducto[]>(Config.BaseApiUrl + "TipoProductos");
        producto = await Http.GetFromJsonAsync<Producto>(Config.BaseApiUrl + "Producto/Get/"+claveProducto);


        productosProvedores = await Http.GetFromJsonAsync<ProductoProveedorDTO[]>(Config.BaseApiUrl + "ProductoProvedor/GetSearch/" + claveProducto + ","+idTipoProducto);

    }

    //private void Editar()
    //{

    //}


    private async Task Editar(int Id)
    {
        var parameters = new Dictionary<string, object>();
        parameters.Add("IdProductoProveedor", Id);

        await modal.ShowAsync<EditarProductoProveedorComponent>(title: "Producto Proveedor Detalles", parameters: parameters);
       
    }

    private async Task Insertar(int idProducto)
    {
        var parameters = new Dictionary<string, object>();
        parameters.Add("IdProducto", idProducto);
        await modalInsertar.ShowAsync<InsertarProductoProveedorComponent>(title: "Producto Proveedor Detalles", parameters: parameters);
        

    }

    private async Task Eliminar(int idProducto)
    {
        var response = await Http.GetAsync(Config.BaseApiUrl + "ProductoProv/Delete/"+idProducto);
        if (response.IsSuccessStatusCode)
        {
            MostrarMensajeExitoso("Los datos fueron eliminados correctamente");
        }
        else
        {
            MostrarMensajeError("Hubo un error al eliminar los datos");
        }
        productosProvedores = await Http.GetFromJsonAsync<ProductoProveedorDTO[]>(Config.BaseApiUrl + "ProductoProvedor/GetSearch/" + claveProducto + ","+idTipoProducto);
    }

    private async Task ActualizarLista()
    {

        productosProvedores = await Http.GetFromJsonAsync<ProductoProveedorDTO[]>(Config.BaseApiUrl + "ProductoProvedor/GetSearch/" + claveProducto + ","+idTipoProducto);
    }

    private void MostrarMensajeExitoso(string contenido)
    {
        mostrarMensajeExitoso = true;
        contenidoMensajeExitoso = contenido;
    }

    private void MostrarMensajeError(string contenido)
    {
        mostrarMensajeError = true;
        contenidoMensajeError = contenido;
    }





}
